In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

Green taxi tripdata first. Pandas reads csv.gz

In [3]:
df_green = pd.read_csv("green_tripdata_2019-01.csv.gz")

Some null values...

In [4]:
df_green.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

Need to change the format of the datetime columns as we will work with these. Notice different column name from yellow taxi data.

In [5]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [6]:
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

Check that it worked as intended

In [7]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

We shoud insert data in chunks

In [8]:
len(df_green)

630918

First insertion, replace if table exists - notice index = False.

Gathered code in one cell for convenience

In [9]:
df_green_iter = pd.read_csv("green_tripdata_2019-01.csv.gz", iterator=True, chunksize=100000)
df_green = next(df_green_iter)
df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)
%time df_green.to_sql(name='green_taxi_trips', con=engine, if_exists='replace', index = False)

CPU times: user 4.38 s, sys: 118 ms, total: 4.5 s
Wall time: 8.59 s

1000

In [10]:
for df_green in df_green_iter:
    t_start = time()
    df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
    df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)
    
    df_green.to_sql(name='green_taxi_trips', con=engine, if_exists='append',index = False)
    
    t_end = time()
    
    print('This chunk took %.3f seconds' % (t_end-t_start))
print('Done')

This chunk took 8.608 seconds
This chunk took 8.623 seconds
This chunk took 8.571 seconds
This chunk took 8.133 seconds
This chunk took 8.490 seconds
This chunk took 2.484 seconds
Done

Taxi zone lookup csv

In [11]:
df_zone = pd.read_csv("taxi+_zone_lookup.csv")

3 null values here...

In [12]:
df_zone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

Looks ok to me:

In [13]:
print(pd.io.sql.get_schema(df_zone, name='ny_zones', con=engine))

CREATE TABLE ny_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

No worries here

In [14]:
len(df_zone)

265

In [15]:
df_zone.to_sql(name='ny_zones', con=engine, if_exists='replace', index = False)

265